<p>--------conditional works!--------</p>
<h2>this is conditional practise </h2>
<select (change)="status.set($any($event.target).value)" [value]=status >
    <option value="success">Success</option>
    <option value="loading">Loading</option>
    <option value="error">Error</option>
</select>
@switch(status()){
@case('success'){ <p style="color:blue" >this is success</p> }
@case('loading'){ <p style="color:yellow" >Loading</p> }
@case('error'){ <p style="color:red" >Error</p> }
@default{ <p>this is default text</p> }
}
