.card {
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  padding: 16px;
  max-width: 380px;
  background: #acc7f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  cursor: pointer;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
}

/* Hover effect */
.card:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

/* Header (projected title) */
.header {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin-bottom: 10px;
}


.description {
  font-size: 15px;
  color: #1b31bf;
  line-height: 1.5;
}
