<router-outlet></router-outlet>

 <h3>Content Projection (ng-content)</h3>

    <w3-card>
      <span card-title>Welcome</span>
      <p>Project any markup into a reusable shell component.</p>
    </w3-card>

    <br>

    <w3-card>
      <span card-title>Another Card</span>
      <ul>
        <li>Works with lists</li>
        <li>Images, buttons, etc.</li>
      </ul>
    </w3-card>

    <app-score>
      <span title>New Card</span>
      <p>This is from new component statment-1</p>
    </app-score>

    <app-score>
      <span title>New Card-2</span>
      <p>This is from new component statment-2</p>
    </app-score>

     <h3>Templates with ngTemplateOutlet</h3>

    <label>
      Type:
      <select [(ngModel)]="type">
        <option value="info">info</option>
        <option value="warning">warning</option>
        <option value="success">success</option>
      </select>
    </label>

    <label>
      Message: <input (input)="msg = $any($event.target).value" [value]="msg" />
    </label>

    <ng-container
      [ngTemplateOutlet]="type === 'info' ? infoTpl : (type === 'warning' ? warnTpl : successTpl)"
      [ngTemplateOutletContext]="{ $implicit: msg }">
    </ng-container>

    <ng-template #infoTpl let-text>
      <p style="color:royalblue">Info: {{ text }}</p>
    </ng-template>

    <ng-template #warnTpl let-text>
      <p style="color:darkorange">Warning: {{ text }}</p>
    </ng-template>

    <ng-template #successTpl let-text>
      <p style="color:seagreen">Success: {{ text }}</p>
    </ng-template>

    <h2>Directive</h2>
    <p *ngIf="items.length > 0 ">{{items.length}}</p>
    <ul>
      <li *ngFor="let item of items">{{item}}</li>
    </ul>
    <button (click)="toogle()" >Toggle</button>
    <app-directive></app-directive>
    <app-directive2></app-directive2>
    <app-event1></app-event1>
    <app-event2></app-event2>
    <app-conditional></app-conditional>
    <app-list></app-list>
    <app-list2></app-list2>
    <app-list3></app-list3>